
.mainNav{
 display: flex;
 justify-content: space-between;
 /* padding: 20px */
}

.NavOptions{
  padding: 20px;
    /* border-bottom: 2px solid #a3a3a3; */
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* width: 40%; */
    /* font-size: larger; */
    /* padding: 10px; */
  }
  .NavOptions > p{
    margin: 10px;
    font-size: small;
    color: #333;
  }

